<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>About</title>
    <link rel="icon" href="../img/weather.png">
</head>

<body>
    {{>header}}
    <p>This site is part of Node course,it uses Data from weathestack and mapbox </p>
    <img class="portrait" src="/img/robot.png" alt="">
    <h2>{{name}}</h2>
    {{>footer}}
</body>

</html>